nodered_flow.json
[
    { "id": "2c41a2bd.aa36ae", "type": "tab", "label": "Flow 1" },
    {
        "id": "ce9f9f18.4bad2",
        "type": "debug",
        "z": "2c41a2bd.aa36ae",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "a57ad3611914ac0c",
        "type": "serial in",
        "z": "2c41a2bd.aa36ae",
        "name": "Arduino-NANO",
        "serial": "8da468c75b8112a6",
        "x": 200,
        "y": 40,
        "wires": [["ce9f9f18.4bad2", "b9c3fb52058dce79"]]
    },
    {
        "id": "b9c3fb52058dce79",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "function 1",
        "func": "var data = msg.payload;\n\nvar return_msg_1= {payload:null}\nvar return_msg_2 = {payload:null}\n\nif (data.includes(\"Temperature\")) {\n    return_msg_1.payload = data.split(\" \")[2]\n}\n\nif (data.includes(\"Pressure\")) {\n    return_msg_2.payload = data.split(\" \")[2]\n}\n\nreturn [return_msg_1, return_msg_2]\n",
        "outputs": 2,
        "noerr": 1,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 140,
        "wires": [["19638ed204a78206"], ["599ca51db3e21cc4"]]
    },
    {
        "id": "0693f1a41692f205",
        "type": "ui_gauge",
        "z": "2c41a2bd.aa36ae",
        "name": "",
        "group": "57ff470b.93fdf8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "*C",
        "format": "{{value}}",
        "min": "-40",
        "max": "40",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "9db0d9701bc6262a",
        "type": "ui_gauge",
        "z": "2c41a2bd.aa36ae",
        "name": "",
        "group": "57ff470b.93fdf8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "Pa",
        "format": "{{value}}",
        "min": "50000",
        "max": "150000",
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "19638ed204a78206",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "Not Null",
        "func": "if (msg.payload != null){\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 1,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 120,
        "wires": [["0693f1a41692f205"]]
    },
    {
        "id": "599ca51db3e21cc4",
        "type": "function",
        "z": "2c41a2bd.aa36ae",
        "name": "Not Null",
        "func": "if (msg.payload != null){\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 1,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 180,
        "wires": [["9db0d9701bc6262a"]]
    },
    {
        "id": "8da468c75b8112a6",
        "type": "serial-port",
        "serialport": "COM20",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "57ff470b.93fdf8",
        "type": "ui_group",
        "name": "Default",
        "tab": "11207769.c31889",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "11207769.c31889",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    }
]
